<div class="col-md-8 col-md-offset-2" ng-app="exampleApp"
  ng-controller="defaultController">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th><th>Category</th><th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="products.length">
            <td colspan="3" class="text-center">No data</td>
          </tr>
          <tr ng-repeat="product in products">
            <td ng-bind="product.name"></td>
            <td ng-bind="product.category"></td>
            <td ng-bind="product.price | currency"></td>
          </tr>
        </tbody>
      </table>
      <p><button class="btn btn-primary" ng-click="loadData()">Load Data</button></p>
    </div>
  </div>
</div>
