<div class="col-md-8 col-md-2" ng-app="exampleApp" ng-controller="defaultController">
  <div class="well">
    <div class="btn-group" newtri-button counter="data.totalClicks" source="data.cities">
      <button class="btn btn-default" ng-repeat="city in data.cities" ng-bind="city">
      </button>
    </div>
    <h5>Total Clicks: {{data.totalClicks}}</h5>
  </div>
</div>
