<div class="col-md-8 col-md-offset-2" ng-app="exampleApp"
  ng-controller="defaultController">
  <div class="panel panel-default">
    <div class="panel-body">
      <button class="btn btn-primary" ng-click="throwEx()">Throw Exception</button>
    </div>
  </div>
</div>
