<div class="col-md-8 col-md-offset-2" ng-app="exampleApp"
  ng-controller="defaultController">
  <div class="well">
    <p><input class="form-control" ng-model="dataVal"></p>
    <div>Result: <span eval-expression amount="dataVal" tax="10"></span></div>
  </div>
</div>
