<div class="col-md-8 col-md-offset-2" ng-app="exampleApp"
  ng-controller="defaultController">
  <div class="well">
    <p><input type="text" ng-model="expr" class="form-control"></p>
    <div>
      Result: <span eval-expression="expr"></span>
    </div>
  </div>
</div>
