<div class="col-md-8 col-md-offset-2" ng-app="exampleApp"
  ng-controller="defaultController">
  <div class="well">
    <p><input type="text" class="form-control" ng-model="dangerousData"></p>
    <p ng-bind-html="trustData"></p>
  </div>
</div>
