<div class="col-md-8 col-md-offset-2" ng-app="exampleApp"
  ng-controller="defaultController">
  <div class="well" promise-worker>
    <button class="btn btn-primary">Heads</button>
    <button class="btn btn-primary">Tails</button>
    <button class="btn btn-primary">Abort</button>
    Outcome: <span promise-observer></span>
  </div>
</div>
